.common-modal {
  background: transparent;
  border: 1px solid #fff;
  padding: 9px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.modal {
  width: 520px;
  position: absolute;
  display: none;
  background: transparent;
  border: 1px solid #fff;
  padding: 9px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.modal-content {
  background: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.modal .modal-content {
  padding: 59px 70px 20px 20px;
}
.modal-content h2 {
  position: absolute;
  top: 23px;
  left: 80px;
  font-family: BrandonBlk;
  font-size: 1.3em;
}
.modal-content p {
  font-size: 1em;
}
.modal-icon {
  background: transparent url(../img/modal_logo_circle.png) no-repeat;
  width: 88px;
  height: 89px;
  position: absolute;
  z-index: 1003;
  top: -18px;
  left: -18px;
}
.modal-close {
  background-image: url(../img/btn_close.gif);
  width: 21px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1010;
  cursor: pointer;
}
#modal-overlay {
  background-color: black;
}
/*
 * CHAPTER END MODALS
 */
.modal-end {
  top: 200px;
  background: transparent;
  border: 1px solid #fff;
  padding: 9px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.modal-end .modal-content {
  width: 278px;
  padding: 37px 17px 17px 17px;
}
.modal-end .modal-banner {
  z-index: 1003;
  position: absolute;
  width: 418px;
  height: 79px;
  left: -42px;
  top: -40px;
}
.modal-end .modal-content p {
  padding-bottom: 10px;
  color: #8e7961;
}
.modal-end .modal-divider {
  width: 311px;
  border: 1px solid #e6e6e6;
  margin: 20px 0 6px -18px;
}
.modal-end .modal-top {
  border-bottom: 1px solid #ff0000;
  padding-bottom: 35px;
}
.modal-end .like-message {
  font-size: 70%;
  width: 150px;
  margin-top: 15px;
  font-family: BrandonBlk;
}
.modal-end .facebook-like {
  z-index: 3;
  position: absolute;
  top: 109px;
  left: 201px;
}
.modal-end .percentage-bar {
  margin-top: 15px;
  height: 25px;
  background-color: #e6e6e6;
  border-top: 2px solid #d0d0d0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 4px;
}
.modal-end .percentage {
  background-color: #ed6f31;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  height: 100%;
  border-bottom: 1px solid #c4c4c4;
  width: 0;
}
.modal-end .likes-min {
  float: left;
  font-size: 60%;
  font-family: BrandonBlk;
}
.modal-end .likes-remaining {
  float: right;
  font-family: BrandonBlk;
}
.modal-end .like-count {
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: underline;
}
/**************
 * JMV MODALS
 *************/
#jmv-modal {
  z-index: 1000;
}
/*****************
 * MODAL ENTRY/END
 *****************/
.modal-start-end {
  padding: 0;
  width: 635px;
  background-color: #fff;
  background: transparent;
  border: 1px solid #fff;
  padding: 9px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.modal-start-end .banner {
  position: absolute;
  left: -80px;
  top: -80px;
}
.modal-start-end .modal-content {
  padding: 100px 30px 30px 30px;
}
.modal-start-end .content-left {
  float: left;
  width: 259px;
  padding-right: 20px;
  border-right: 1px solid #e6e6e6;
}
.modal-start-end .content-right {
  float: left;
  width: 275px;
  padding-left: 20px;
}
.modal-start-end h1 {
  font-size: 1.9em;
  color: #3a3126;
  font-family: BrandonBlk;
  padding-bottom: 5px;
}
.modal-start-end p {
  color: #8e7961;
  padding: 0 0 20px 0;
  font-size: 1.1em;
  line-height: 1.3em;
}
a.button {
  display: block;
  text-decoration: none;
  font-size: .75em;
  font-weight: bold;
  color: #fff;
  padding: 10px 30px 10px 5px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.25);
  font-family: BrandonBlk;
  background: #ed6f31 url(../img/btn_bg_arrow.png) no-repeat bottom right;
}
.modal-start-end .modal-footer-copy {
  color: #8e7961;
  font-size: .75em;
  clear: both;
  margin-top: 20px;
  width: 200px;
}
/***************
 * ENTRY MODAL
 **************/
#modal-entry .banner {
  background-image: url(../img/start.png);
  width: 852px;
  height: 179px;
  left: -81px;
}
#modal-entry a.button {
  width: 100px;
  z-index: 2;
  position: absolute;
  background-position: 114px -6px;
}
#modal-entry {
  width: 671px;
}
/****************
 * END MODAL
 *****************/
#modal-end .banner {
  background-image: url(../img/ending.png);
  width: 814px;
  height: 152px;
}
#modal-end a.button {
  width: 130px;
  background: #ed6f31 url(../img/btn_bg_arrow.png) no-repeat bottom right;
  background-position: 143px -6px;
}
/***************
 * LIKES MODAL
 ***************/
#likes-modal {
  opacity: 0;
  z-index: 104;
}
/******************
 * THANKS MESSAGE
 * ON LIKES MODAL
 *****************/
#thanks {
  text-align: center;
}
#thanks #congrats,
#thanks #message {
  display: none;
}
#thanks #message {
  background: url(../img/maya_end.png) no-repeat top left;
  text-align: left;
}
#thanks #message p,
#thanks #message h3 {
  margin-left: 70px;
}
#thanks h3 {
  font-family: BrandonBlk;
  font-size: 1.2em;
  margin: 10px 0 10px 0;
}
#thanks a.button {
  width: 200px;
  font-size: .9em;
  background-position: 214px -6px;
  margin-left: 9%;
}
