/*****************************************************
 * GLOBAL CLASSES USED THROUGHOUT STORY ON ALL CHAPTERS
 *****************************************************/
/**********************
 * BEGIN CHAPTER TITLE
 **********************/
.title {
  position: absolute;
  top: 150px;
  color: #000;
  z-index: 103;
}
.title h1 {
  margin: 0;
  padding: 0;
  font-family: BrandonBlk;
}
.title h2 {
  margin: 0;
  padding: 0;
  line-height: 55px;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.15) 0 0.08em;
  font-size: 3.45em;
  font-family: BrandonBlk;
  font-weight: bold;
}
/*******************
 * END CHAPTER TITLE
 *******************/
/*********************************************
 * DEFINTIONS USED THROUGHOUT STORY SORTED A-Z
 *********************************************/
#maya {
  left: 400px;
  z-index: 101;
  position: fixed;
}
.maya-animation {
  width: 93px;
  height: 166px;
  background: transparent url(../img/animations/maya_3.gif) no-repeat;
}
.maya-common {
  display: none;
}
.maya-child {
  display: none;
  width: 72px;
  height: 119px;
  background: transparent url(../img/sprites/maya_1.png) no-repeat;
}
.maya-teen {
  display: none;
  width: 81px;
  height: 140px;
  background: transparent url(../img/sprites/maya_2.png) no-repeat;
}
.maya-woman {
  display: none;
  width: 93px;
  height: 167px;
  background: transparent url(../img/sprites/maya_3.png) no-repeat;
}
.maya-pregnant {
  display: none;
  width: 50px;
  height: 167px;
  background: transparent url(../img/sprites/maya_4.png) no-repeat;
}
.maya-mother {
  display: none;
  width: 93px;
  height: 167px;
  background: transparent url(../img/sprites/maya_5.png) no-repeat;
}
.maya-end {
  width: 54px;
  height: 105px;
  background: transparent url(../img/maya_end.png) no-repeat;
}
.books-1 {
  background: transparent url(../img/books_1.png) no-repeat;
  width: 319px;
  height: 80px;
}
.books-2 {
  background: transparent url(../img/books_2.png) no-repeat;
  width: 62px;
  height: 51px;
}
.box {
  width: 300px;
  position: absolute;
  padding: 10px;
  opacity: 0;
  z-index: 103;
}
.box .box-content {
  background: transparent;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 7px 7px 0 7px;
}
.box .box-content p {
  background: #fff;
  font-size: 1em;
  text-align: left;
  display: block;
  padding: 20px;
  color: #8e7961;
  line-height: 1.2em;
}
.box-footer {
  background: transparent url(../img/box_bottom.png) no-repeat;
  width: 300px;
  height: 31px;
}
.boy-1 {
  background: transparent url(../img/c_boy_1.png) no-repeat;
  width: 49px;
  height: 98px;
}
.boy-2 {
  background: transparent url(../img/c_boy_2.png) no-repeat;
  width: 49px;
  height: 105px;
}
.boy-3 {
  background: transparent url(../img/animations/C_Boy_3.gif) no-repeat;
  width: 60px;
  height: 91px;
}
.bridge {
  background: transparent url(../img/bridge.png) no-repeat;
  width: 438px;
  height: 120px;
  bottom: 61px !important;
}
.bridge-bg-front {
  background: transparent url(../img/bridge_bg_front.png) no-repeat;
  width: 680px;
  height: 100px;
  bottom: -25px !important;
}
.bridge-bg-back {
  background: transparent url(../img/bridge_bg_back.png) no-repeat;
  width: 395px;
  height: 100px;
  bottom: -25px !important;
}
.bubble-baby {
  background: transparent url(../img/bubble_baby.png) no-repeat;
  width: 93px;
  height: 92px;
  opacity: 0;
}
.bubble-marriage {
  background: transparent url(../img/bubble_marriage.png) no-repeat;
  width: 94px;
  height: 92px;
  opacity: 0;
}
.bubble-burst {
  background: transparent url(../img/bubble_burst.png) no-repeat;
  width: 94px;
  height: 92px;
  opacity: 0;
}
.bubble-burst-right {
  background: transparent url(../img/bubble_burst_right.png) no-repeat;
  width: 94px;
  height: 92px;
  opacity: 0;
}
.bubble-supplies {
  background: transparent url(../img/bubble_supplies.png) no-repeat;
  width: 94px;
  height: 81px;
  opacity: 0;
}
.bush-small {
  background: transparent url(../img/bush_s.png) no-repeat;
  width: 157px;
  height: 66px;
}
.bush-large {
  background: transparent url(../img/bush_l.png) no-repeat;
  width: 202px;
  height: 66px;
}
.cloud-large {
  background: transparent url(../img/cloud_l.png) no-repeat;
  width: 268px;
  height: 81px;
}
.cloud-small {
  background: transparent url(../img/cloud_s.png) no-repeat;
  width: 268px;
  height: 81px;
}
.crop img {
  width: 27px;
  height: 42px;
}
.daughter {
  background: transparent url(../img/c_daughter.png) no-repeat;
  width: 54px;
  height: 105px;
}
.father {
  background: transparent url(../img/animations/C_Father.gif) no-repeat;
  width: 115px;
  height: 171px;
}
.field {
  background: transparent url(../img/field.png) no-repeat;
  width: 918px;
  height: 87px;
}
.flag {
  background: transparent url(../img/animations/flag.gif) no-repeat;
  width: 148px;
  height: 199px;
  cursor: pointer;
}
.goat {
  background: transparent url(../img/animations/goat_l.gif) no-repeat;
  width: 94px;
  height: 68px;
}
.goat-s {
  background: transparent url(../img/animations/Goat_S.gif) no-repeat;
  width: 65px;
  height: 47px;
}
.girl-bucket {
  background: transparent url(../img/c_girlWithBucket.png) no-repeat;
  width: 55px;
  height: 84px;
}
.girl-1 {
  background: transparent url(../img/c_girl_1.png) no-repeat;
  width: 38px;
  height: 78px;
}
.girl-2 {
  background: transparent url(../img/c_girl_2.png) no-repeat;
  width: 38px;
  height: 80px;
}
.girl-3 {
  background: transparent url(../img/c_girl_3.png) no-repeat;
  width: 36px;
  height: 68px;
}
.girl-4 {
  background: transparent url(../img/c_girl_4.png) no-repeat;
  width: 39px;
  height: 78px;
}
.girl-5 {
  background: transparent url(../img/c_girl_5.png) no-repeat;
  width: 33px;
  height: 67px;
}
.girl-6 {
  background: transparent url(../img/c_girl_6.png) no-repeat;
  width: 39px;
  height: 78px;
}
.girl-7 {
  background: transparent url(../img/c_girl_7.png) no-repeat;
  width: 38px;
  height: 79px;
}
.girl-8 {
  background: transparent url(../img/c_girl_8.png) no-repeat;
  width: 37px;
  height: 68px;
}
.girl-9 {
  background: transparent url(../img/c_girl_9.png) no-repeat;
  width: 40px;
  height: 78px;
}
.girl-with-goat-1 {
  background: transparent url(../img/animations/C_GirlWithGoat_1.gif) no-repeat;
  width: 76px;
  height: 69px;
}
.girl-with-goat-2 {
  background: transparent url(../img/animations/C_GirlWithGoat_2.gif) no-repeat;
  width: 76px;
  height: 69px;
}
.grass-tiny {
  background: transparent url(../img/grass_tiny.png) no-repeat;
  width: 263px;
  height: 59px;
}
.grass-small {
  background: transparent url(../img/grass_s.png) no-repeat;
  width: 849px;
  height: 73px;
}
.grass-medium {
  background: transparent url(../img/grass_m.png) no-repeat;
  width: 759px;
  height: 103px;
}
.grass-large {
  background: transparent url(../img/grass_l.png) no-repeat;
  width: 960px;
  height: 113px;
}
.house {
  background: transparent url(../img/b_house.png) no-repeat;
  width: 325px;
  height: 360px;
}
.house-mask {
  background: transparent url(../img/b_house_mask.png) no-repeat;
  width: 180px;
  height: 181px;
}
/*
 * FIXME
 */
.house-front {
  background: transparent url(../img/b_school_front.png) no-repeat;
  width: 325px;
  height: 360px;
  display: none;
}
.house-small {
  background: transparent url(../img/b_house_small.png) no-repeat;
  width: 200px;
  height: 223px;
}
.husband-animation {
  background: transparent url(../img/animations/c_husband.gif) no-repeat;
  width: 84px;
  height: 174px;
}
.husband {
  background: transparent url(../img/c_husband.png) no-repeat;
  width: 93px;
  height: 173px;
}
.keyboard {
  background: transparent url(../img/keyboard.png) no-repeat;
  width: 176px;
  height: 54px;
  bottom: 155px;
  left: -58px;
  position: relative;
  opacity: 0;
}
.learn-more {
  background: transparent url(../img/learn_more.png) no-repeat;
  width: 132px;
  height: 45px;
  bottom: -15px;
  left: -152px;
  position: relative;
  opacity: 1;
}
.man-1 {
  background: transparent url(../img/c_man_3.png) no-repeat;
  width: 69px;
  height: 171px;
}
.man-2 {
  background: transparent url(../img/c_man_4.png) no-repeat;
  width: 74px;
  height: 166px;
}
.man-3 {
  background: transparent url(../img/c_man_5.png) no-repeat;
  width: 93px;
  height: 174px;
}
.medical-clinic {
  background: transparent url(../img/b_medicalClinic.png) no-repeat;
  width: 492px;
  height: 364px;
}
.mother {
  background: transparent url(../img/mother.png) no-repeat;
  width: 67px;
  height: 167px;
}
.nurse {
  background: transparent url(../img/c_nurse.png) no-repeat;
  width: 76px;
  height: 173px;
}
.plane {
  background: transparent url(../img/animations/Airplane.gif) no-repeat;
  width: 388px;
  height: 189px;
}
.police {
  background: transparent url(../img/c_police.png) no-repeat;
  width: 76px;
  height: 177px;
}
.shop-maya {
  background: transparent url(../img/b_mayaShop.png) no-repeat;
  width: 323px;
  height: 363px;
}
.shop-maya-sign {
  background: transparent url(../img/animations/sign_mayaShop.gif) no-repeat;
  width: 203px;
  height: 132px;
}
.shop-1 {
  background: transparent url(../img/b_shop_1.png) no-repeat;
  width: 197px;
  height: 224px;
}
.shop-2 {
  background: transparent url(../img/b_shop_2.png) no-repeat;
  width: 197px;
  height: 225px;
}
.shop-3 {
  background: transparent url(../img/b_shop_2.png) no-repeat;
  width: 197px;
  height: 221px;
}
.sign-market {
  background: transparent url(../img/sign_market.png) no-repeat;
  width: 158px;
  height: 137px;
}
.sign-school {
  background: transparent url(../img/sign_school.png) no-repeat;
  width: 158px;
  height: 137px;
}
.sign-school-secondary {
  background: transparent url(../img/sign_secondarySchool.png) no-repeat;
  width: 173px;
  height: 166px;
}
.sign-village {
  background: transparent url(../img/sign_village.png) no-repeat;
  width: 168px;
  height: 141px;
}
.school-back {
  background: transparent url(../img/b_school_back.png) no-repeat;
  width: 1312px;
  height: 365px;
}
.school-boy-1 {
  background: transparent url(../img/animations/C_BoyAtDesk_1.gif) no-repeat;
  width: 86px;
  height: 96px;
}
.school-boy-2 {
  background: transparent url(../img/animations/C_BoyAtDesk_2.gif) no-repeat;
  width: 86px;
  height: 96px;
}
.school-girl-1 {
  background: transparent url(../img/animations/C_GirlAtDesk_1.gif) no-repeat;
  width: 95px;
  height: 108px;
}
.school-girl-2 {
  background: transparent url(../img/animations/C_GirlAtDesk_2.gif) no-repeat;
  width: 94px;
  height: 107px;
}
.school-front {
  background: transparent url(../img/b_school_front.png) no-repeat;
  width: 1144px;
  height: 234px;
}
.stars {
  background: transparent url(../img/stars.png) no-repeat;
  width: 93px;
  height: 95px;
  bottom: -19px;
  position: relative;
  left: -19px;
  opacity: 0;
}
.teacher-male {
  background: transparent url(../img/c_maleTeacher.png) no-repeat;
  width: 76px;
  height: 171px;
}
.teacher-female {
  background: transparent url(../img/c_femaleTeacher.png) no-repeat;
  width: 67px;
  height: 184px;
}
.tombstone-s {
  background: transparent url(../img/tombstone_s.png) no-repeat;
  width: 42px;
  height: 59px;
}
.tombstone-m {
  background: transparent url(../img/tombstone_m.png) no-repeat;
  width: 53px;
  height: 58px;
}
.tombstone-l {
  background: transparent url(../img/tombstone_l.png) no-repeat;
  width: 93px;
  height: 100px;
}
.tree-small {
  background: transparent url(../img/tree_s.png) no-repeat;
  width: 113px;
  height: 176px;
}
.tree-medium {
  background: transparent url(../img/tree_m.png) no-repeat;
  width: 193px;
  height: 265px;
}
.tree-large {
  background: transparent url(../img/tree_l.png) no-repeat;
  width: 227px;
  height: 351px;
}
.tree-money {
  background: transparent url(../img/animations/moneytree.gif) no-repeat;
  width: 319px;
  height: 451px;
}
.woman-1 {
  background: transparent url(../img/c_woman_1.png) no-repeat;
  width: 89px;
  height: 166px;
}
.woman-2 {
  background: transparent url(../img/c_woman_2.png) no-repeat;
  width: 65px;
  height: 166px;
}
.woman-money-1 {
  background: transparent url(../img/c_womanWithMoney_1.png) no-repeat;
  width: 106px;
  height: 167px;
}
.woman-money-2 {
  background: transparent url(../img/c_womanWithMoney_2.png) no-repeat;
  width: 63px;
  height: 167px;
}
.woman-pregnant-1 {
  background: transparent url(../img/c_pregnantwoman_1.png) no-repeat;
  width: 46px;
  height: 167px;
}
.woman-pregnant-2 {
  background: transparent url(../img/c_pregnantwoman_2.png) no-repeat;
  width: 53px;
  height: 138px;
}
.woman-pregnant-3 {
  background: transparent url(../img/c_pregnantwoman_3.png) no-repeat;
  width: 64px;
  height: 163px;
}
.water-front {
  background: transparent url(../img/water_front.png) no-repeat;
  width: 564px;
  height: 56px;
  bottom: -25px !important;
}
.water-back {
  background: transparent url(../img/water_back.png) no-repeat;
  width: 564px;
  height: 56px;
  bottom: -25px !important;
}
/**************************************
 * END DEFINTIONS USED THROUGHOUT STORY
 **************************************/
/*****************
 * BEGIN CHAPTER 1
 *****************/
#chapter-1 {
  width: 5677px;
}
#chapter-1 #title-chapter-1 {
  left: 100px;
}
#chapter-1 #box-1 {
  left: 272px;
  bottom: 275px;
}
#chapter-1 #box-2 {
  left: 1708px;
  bottom: 343px;
}
#chapter-1 #box-3 {
  left: 2230px;
  bottom: 339px;
}
#chapter-1 #box-4 {
  left: 3211px;
  bottom: 299px;
}
#chapter-1 #box-5 {
  left: 4011px;
  bottom: 320px;
}
#chapter-1 #cloud-1 {
  left: 465px;
  top: 389px;
}
#chapter-1 #cloud-2 {
  left: 1425px;
  top: 289px;
}
#chapter-1 #cloud-3 {
  left: 2133px;
  top: 197px;
}
#chapter-1 #cloud-4 {
  left: 3504px;
  top: 299px;
}
#chapter-1 #cloud-5 {
  left: 4263px;
  top: 191px;
}
#chapter-1 #tree-1 {
  left: 85px;
}
#chapter-1 #grass-1 {
  left: 122px;
}
#chapter-1 #tree-2 {
  left: 756px;
}
#chapter-1 #mother-1 {
  left: 987px;
}
#chapter-1 #father-1 {
  left: 1050px;
}
#chapter-1 #bush-1 {
  left: 1047px;
}
#chapter-1 #house-1 {
  left: 1190px;
}
#chapter-1 #goat-1 {
  left: 1623px;
}
#chapter-1 #goat-2 {
  left: 1911px;
  bottom: 168px;
}
#chapter-1 #grass-2 {
  left: 1278px;
}
#chapter-1 #tree-3 {
  left: 1590px;
  bottom: 181px;
}
#chapter-1 #field-1 {
  left: 2078px;
}
#chapter-1 #crop-1 {
  left: 2248px;
  bottom: 95px;
}
#chapter-1 #crop-2 {
  left: 2419px;
  bottom: 145px;
}
#chapter-1 #crop-3 {
  left: 2507px;
}
#chapter-1 #crop-4 {
  left: 2627px;
  bottom: 130px;
}
#chapter-1 #crop-5 {
  left: 2786px;
  bottom: 123px;
}
#chapter-1 #flag-1 {
  left: 2860px;
}
#chapter-1 #grass-3 {
  left: 2844px;
}
#chapter-1 #girl-1 {
  left: 3124px;
  bottom: 115px;
}
#chapter-1 #girl-2 {
  left: 3325px;
  bottom: 141px;
}
#chapter-1 #tree-4 {
  left: 3472px;
  bottom: 104px;
}
#chapter-1 #bush-2 {
  left: 3660px;
}
#chapter-1 #grass-4 {
  left: 3690px;
}
#chapter-1 #boy-1 {
  left: 4090px;
  bottom: 160px;
}
#chapter-1 #boy-2 {
  left: 4155px;
  bottom: 150px;
}
#chapter-1 #boy-3 {
  left: 4208px;
  bottom: 155px;
}
#chapter-1 #flag-2 {
  left: 4413px;
  bottom: 123px;
}
#chapter-1 #bush-3 {
  left: 4622px;
}
#chapter-1 #end-modal-1 {
  left: 4732px;
}
#chapter-1 #modal-banner-1 {
  background: transparent url(../img/milestone_1.png) no-repeat;
}
#chapter-1 #flag-3 {
  left: 5181px;
  bottom: 163px;
}
#chapter-1 #grass-5 {
  left: 4717px;
}
/*****************
 * END CHAPTER 1
 *****************/
/*****************
 * BEGIN CHAPTER 2
 *****************/
#chapter-2 {
  display: none;
  width: 5713px;
}
#chapter-2 #cloud-1 {
  left: 6372px;
  top: 155px;
}
#chapter-2 #cloud-2 {
  left: 7499px;
  top: 203px;
}
#chapter-2 #cloud-3 {
  left: 8650px;
  top: 245px;
}
#chapter-2 #title-chapter-2 {
  left: 5777px;
}
#chapter-2 #box-1 {
  left: 6376px;
  bottom: 476px;
}
#chapter-2 #box-2 {
  left: 7084px;
  bottom: 455px;
}
#chapter-2 #box-3 {
  left: 7907px;
  bottom: 339px;
}
#chapter-2 #box-4 {
  left: 9046px;
  bottom: 407px;
}
#chapter-2 #grass-1 {
  left: 4992px;
}
#chapter-2 #tree-1 {
  left: 5722px;
  bottom: 140px;
}
#chapter-2 #sign-1 {
  left: 5940px;
}
#chapter-2 #bush-1 {
  left: 6053px;
}
#chapter-2 #grass-2 {
  left: 6257px;
}
#chapter-2 #school-1 {
  left: 6525px;
}
#chapter-2 #school-2 {
  left: 6365px;
}
#chapter-2 #door-1 {
  left: 6489px;
}
#chapter-2 #school-boy-1 {
  left: 6759px;
}
#chapter-2 #school-boy-2 {
  left: 6897px;
}
#chapter-2 #school-boy-3 {
  left: 7032px;
}
#chapter-2 #school-boy-4 {
  left: 7168px;
}
#chapter-2 #teacher-1 {
  left: 7399px;
}
#chapter-2 #bush-2 {
  left: 7586px;
}
#chapter-2 #grass-3 {
  left: 7751px;
}
#chapter-2 #flag-1 {
  left: 7835px;
  bottom: 95px;
}
#chapter-2 #tree-2 {
  left: 8353px;
  bottom: 115px;
}
#chapter-2 #bush-3 {
  left: 8621px;
}
#chapter-2 #grass-4 {
  left: 8797px;
}
#chapter-2 #tree-3 {
  left: 8842px;
  bottom: 105px;
}
#chapter-2 #flag-2 {
  left: 9484px;
  bottom: 105px;
}
#chapter-2 #bridge-1 {
  left: 9825px;
}
#chapter-2 #bridge-bg-1 {
  left: 9704px;
}
#chapter-2 #bridge-bg-2 {
  left: 9847px;
}
#chapter-2 #water-front-1 {
  left: 9776px;
}
#chapter-2 #water-back-1 {
  left: 9742px;
}
#chapter-2 #modal-banner-1 {
  background: transparent url(../img/milestone_2.png) no-repeat;
}
#chapter-2 #bush-4 {
  left: 10295px;
}
#chapter-2 #grass-5 {
  left: 10730px;
}
#chapter-2 #bubble-1 {
  left: 10253px;
  bottom: 225px;
}
#chapter-2 #teacher-2 {
  left: 10344px;
}
#chapter-2 #house-1 {
  left: 10477px;
}
#chapter-2 #parachute-1 {
  left: 10312px;
  top: 120px;
}
#chapter-2 #parachute-2 {
  left: 10744px;
  top: 150px;
}
#chapter-2 #parachute-3 {
  left: 10580px;
  top: 120px;
}
/*****************
 * Additional defs
 *****************/
#chapter-2 #parachute-1 img {
  width: 95%;
}
#chapter-2 #parachute-2 img {
  width: 85%;
}
#chapter-2 #parachute-3 img {
  width: 50%;
}
/*****************
 * END CHAPTER 2
 *****************/
/*****************
 * BEGIN CHAPTER 3
 *****************/
#chapter-3 {
  display: none;
  width: 5591px;
}
#chapter-3 #cloud-1 {
  left: 12265px;
  top: 259px;
}
#chapter-3 #cloud-2 {
  left: 13176px;
  top: 173px;
}
#chapter-3 #cloud-3 {
  left: 13865px;
  top: 263px;
}
#chapter-3 #cloud-4 {
  left: 15358px;
  top: 155px;
}
#chapter-3 #title-chapter-3 {
  left: 11490px;
}
#chapter-3 #box-1 {
  left: 11661px;
  bottom: 268px;
}
#chapter-3 #box-2 {
  left: 12727px;
  bottom: 271px;
}
#chapter-3 #box-3 {
  left: 13513px;
  bottom: 357px;
}
#chapter-3 #box-4 {
  left: 14372px;
  bottom: 285px;
}
#chapter-3 #box-5 {
  left: 15138px;
  bottom: 393px;
}
#chapter-3 #tree-1 {
  left: 11469px;
  bottom: 143px;
}
#chapter-3 #bush-1 {
  left: 11659px;
}
#chapter-3 #sign-1 {
  left: 11741px;
}
#chapter-3 #books-1 {
  left: 11889px;
}
#chapter-3 #teacher-1 {
  left: 12249px;
}
#chapter-3 #house-1 {
  left: 12331px;
}
#chapter-3 #house-2 {
  left: 12331px;
}
#chapter-3 #door-1 {
  left: 12452px;
}
#chapter-3 #books-2 {
  left: 12585px;
}
#chapter-3 #parachute-1 {
  left: 12085px;
  top: 200px;
}
#chapter-3 #grass-1 {
  left: 12927px;
}
#chapter-3 #tree-2 {
  left: 13094px;
  bottom: 153px;
}
#chapter-3 #flag-1 {
  left: 13267px;
  bottom: 167px;
}
#chapter-3 #bubble-1 {
  left: 13521px;
  bottom: 219px;
}
#chapter-3 #man-1 {
  left: 13601px;
}
#chapter-3 #mother-1 {
  left: 13713px;
}
#chapter-3 #father-1 {
  left: 13777px;
}
#chapter-3 #bubble-2 {
  left: 13829px;
  bottom: 229px;
}
#chapter-3 #bush-2 {
  left: 14039px;
}
#chapter-3 #grass-2 {
  left: 14177px;
}
#chapter-3 #plane-1 {
  left: 13767px;
  bottom: 489px;
}
#chapter-3 #nurse-1 {
  left: 14451px;
}
#chapter-3 #police-1 {
  left: 14591px;
}
#chapter-3 #tree-3 {
  left: 14835px;
  bottom: 105px;
}
#chapter-3 #bush-3 {
  left: 15271px;
}
#chapter-3 #grass-3 {
  left: 15441px;
}
#chapter-3 #tree-4 {
  left: 15527px;
}
#chapter-3 #flag-2 {
  left: 15953px;
  bottom: 159px;
}
#chapter-3 #grass-4 {
  left: 16133px;
}
#chapter-3 #tree-5 {
  left: 16679px;
  bottom: 127px;
}
#chapter-3 #modal-banner-1 {
  background: transparent url(../img/milestone_3.png) no-repeat;
}
/*************
 * Additional defs
 *************/
#chapter-3 #parachute-1 img {
  width: 40%;
}
/*****************
 * END CHAPTER 3
 *****************/
/*****************
 * BEGIN CHAPTER 4
 *****************/
#chapter-4 {
  display: none;
  width: 4759px;
}
#chapter-4 #cloud-1 {
  left: 17868px;
  top: 209px;
}
#chapter-4 #cloud-2 {
  left: 18936px;
  top: 203px;
}
#chapter-4 #cloud-3 {
  left: 19614px;
  top: 257px;
}
#chapter-4 #cloud-4 {
  left: 20436px;
  top: 203px;
}
#chapter-4 #title-chapter-4 {
  left: 17081px;
}
#chapter-4 #box-1 {
  left: 17258px;
  bottom: 293px;
}
#chapter-4 #box-2 {
  left: 18255px;
  bottom: 445px;
}
#chapter-4 #box-3 {
  left: 19295px;
  bottom: 356px;
}
#chapter-4 #box-4 {
  left: 19984px;
  bottom: 380px;
}
#chapter-4 #flag-1 {
  left: 17003px;
}
#chapter-4 #bush-1 {
  left: 17281px;
}
#chapter-4 #grass-2 {
  left: 17292px;
}
#chapter-4 #sign-1 {
  left: 17660px;
}
#chapter-4 #school-1 {
  left: 18044px;
}
#chapter-4 #school-2 {
  left: 17884px;
}
#chapter-4 #door-1 {
  left: 18008px;
}
#chapter-4 #school-girl-1 {
  left: 18278px;
}
#chapter-4 #school-girl-2 {
  left: 18416px;
}
#chapter-4 #school-girl-3 {
  left: 18551px;
}
#chapter-4 #school-girl-4 {
  left: 18687px;
}
#chapter-4 #teacher-1 {
  left: 18918px;
}
#chapter-4 #grass-3 {
  left: 18481px;
}
#chapter-4 #bush-2 {
  left: 19402px;
}
#chapter-4 #sign-2 {
  left: 19546px;
}
#chapter-4 #grass-4 {
  left: 19530px;
}
#chapter-4 #tree-1 {
  left: 19742px;
  bottom: 129px;
}
#chapter-4 #girl-1 {
  left: 19888px;
  bottom: 145px;
}
#chapter-4 #girl-2 {
  left: 19924px;
  bottom: 145px;
}
#chapter-4 #girl-3 {
  left: 19964px;
  bottom: 145px;
}
#chapter-4 #girl-4 {
  left: 20150px;
  bottom: 119px;
}
#chapter-4 #flag-2 {
  left: 20292px;
  bottom: 95px;
}
#chapter-4 #bush-3 {
  left: 20340px;
}
#chapter-4 #field-1 {
  left: 20496px;
}
#chapter-4 #crop-1 {
  left: 20666px;
  bottom: 95px;
}
#chapter-4 #crop-2 {
  left: 20837px;
  bottom: 145px;
}
#chapter-4 #crop-3 {
  left: 20925px;
}
#chapter-4 #crop-4 {
  left: 21045px;
  bottom: 130px;
}
#chapter-4 #crop-5 {
  left: 21204px;
  bottom: 123px;
}
#chapter-4 #girl-5 {
  left: 20960px;
  bottom: 160px;
}
#chapter-4 #girl-6 {
  left: 20560px;
  bottom: 110px;
}
#chapter-4 #grass-5 {
  left: 21308px;
}
#chapter-4 #house-1 {
  left: 21406px;
}
#chapter-4 #modal-banner-1 {
  background: transparent url(../img/milestone_4.png) no-repeat;
}
/*****************
 * END CHAPTER 4
 *****************/
/*****************
 * BEGIN CHAPTER 5
 *****************/
#chapter-5 {
  display: none;
  width: 5005px;
}
#chapter-5 #cloud-1 {
  left: 22609px;
  top: 237px;
}
#chapter-5 #cloud-2 {
  left: 23682px;
  top: 173px;
}
#chapter-5 #cloud-3 {
  left: 24359px;
  top: 209px;
}
#chapter-5 #cloud-4 {
  left: 24971px;
  top: 153px;
}
#chapter-5 #cloud-5 {
  left: 26332px;
  top: 303px;
}
#chapter-5 #title-chapter-5 {
  left: 21840px;
}
#chapter-5 #box-1 {
  left: 22012px;
  bottom: 270px;
}
#chapter-5 #box-2 {
  left: 23000px;
  bottom: 367px;
}
#chapter-5 #box-3 {
  left: 24111px;
  bottom: 373px;
}
#chapter-5 #box-4 {
  left: 25172px;
  bottom: 419px;
}
#chapter-5 #girl-1 {
  left: 21928px;
  bottom: 178px;
}
#chapter-5 #bush-1 {
  left: 22058px;
}
#chapter-5 #grass-1 {
  left: 22114px;
}
#chapter-5 #girl-2 {
  left: 22342px;
  bottom: 134px;
}
#chapter-5 #house-1 {
  left: 22444px;
  bottom: 145px;
}
#chapter-5 #tree-1 {
  left: 22664px;
  bottom: 133px;
}
#chapter-5 #man-1 {
  left: 22800px;
}
#chapter-5 #man-2 {
  left: 22904px;
}
#chapter-5 #man-3 {
  left: 23004px;
}
#chapter-5 #field-1 {
  left: 23004px;
}
#chapter-5 #crop-1 {
  left: 23174px;
  bottom: 95px;
}
#chapter-5 #crop-2 {
  left: 23345px;
  bottom: 145px;
}
#chapter-5 #crop-3 {
  left: 23433px;
}
#chapter-5 #house-2 {
  left: 23516px;
}
#chapter-5 #house-2-mask {
  left: 23638px;
}
#chapter-5 #door-1 {
  left: 23638px;
}
#chapter-5 #flag-1 {
  left: 24078px;
}
#chapter-5 #bush-2 {
  left: 24162px;
}
#chapter-5 #grass-2 {
  left: 24276px;
}
#chapter-5 #tree-2 {
  left: 24338px;
}
#chapter-5 #clinic-1 {
  left: 24674px;
}
#chapter-5 #woman-1 {
  left: 24564px;
}
#chapter-5 #woman-2 {
  left: 24640px;
}
#chapter-5 #woman-3 {
  left: 24722px;
}
#chapter-5 #nurse-1 {
  left: 24870px;
}
#chapter-5 #grass-3 {
  left: 25260px;
}
#chapter-5 #rip-1 {
  left: 25216px;
}
#chapter-5 #rip-2 {
  left: 25332px;
  bottom: 109px;
}
#chapter-5 #rip-3 {
  left: 25426px;
  bottom: 145px;
}
#chapter-5 #flag-2 {
  left: 25660px;
  bottom: 139px;
}
#chapter-5 #bush-3 {
  left: 26036px;
}
/*
#chapter-5 #grass-4 {
  left: 4466px + @chapter_5_start;
}
*/
#chapter-5 #modal-banner-1 {
  background: transparent url(../img/milestone_5.png) no-repeat;
}
/*****************
 * END CHAPTER 5
 *****************/
/*****************
 * BEGIN CHAPTER 6
 *****************/
#chapter-6 {
  display: none;
  width: 5000px;
}
#chapter-6 #cloud-1 {
  left: 27622px;
  top: 287px;
}
#chapter-6 #cloud-2 {
  left: 28670px;
  top: 203px;
}
#chapter-6 #cloud-3 {
  left: 29368px;
  top: 291px;
}
#chapter-6 #cloud-4 {
  left: 29770px;
  top: 203px;
}
#chapter-6 #cloud-5 {
  left: 31456px;
  top: 299px;
}
#chapter-6 #title-chapter-6 {
  left: 26840px;
}
#chapter-6 #box-1 {
  left: 27015px;
  bottom: 330px;
}
#chapter-6 #box-2 {
  left: 28052px;
  bottom: 430px;
}
#chapter-6 #box-3 {
  left: 28868px;
  bottom: 413px;
}
#chapter-6 #box-4 {
  left: 29622px;
  bottom: 351px;
}
#chapter-6 #box-5 {
  left: 30295px;
  bottom: 395px;
}
#chapter-6 #grass-1 {
  left: 26440px;
}
#chapter-6 #tree-1 {
  left: 26809px;
  bottom: 140px;
}
#chapter-6 #bush-1 {
  left: 27058px;
}
#chapter-6 #field-1 {
  left: 27234px;
}
#chapter-6 #crop-1 {
  left: 27404px;
  bottom: 95px;
}
#chapter-6 #girl-1 {
  left: 27466px;
  bottom: 146px;
}
#chapter-6 #crop-2 {
  left: 27575px;
  bottom: 145px;
}
#chapter-6 #crop-3 {
  left: 27663px;
}
#chapter-6 #girl-2 {
  left: 27706px;
  bottom: 151px;
}
#chapter-6 #crop-4 {
  left: 27783px;
  bottom: 130px;
}
#chapter-6 #crop-5 {
  left: 27942px;
  bottom: 123px;
}
#chapter-6 #sign-1 {
  left: 27866px;
}
#chapter-6 #shop-maya {
  left: 28086px;
}
#chapter-6 #shop-maya-sign {
  left: 28386px;
  bottom: 306px;
}
#chapter-6 #grass-2 {
  left: 28158px;
}
#chapter-6 #shop-1 {
  left: 28687px;
  bottom: 105px;
}
#chapter-6 #bush-2 {
  left: 28969px;
}
#chapter-6 #grass-3 {
  left: 29094px;
}
#chapter-6 #shop-2 {
  left: 29225px;
  bottom: 105px;
}
#chapter-6 #tree-2 {
  left: 29466px;
}
#chapter-6 #woman-1 {
  left: 29719px;
}
#chapter-6 #woman-2 {
  left: 29835px;
}
#chapter-6 #bush-3 {
  left: 29959px;
}
#chapter-6 #flag-1 {
  left: 30068px;
}
#chapter-6 #bridge-1 {
  left: 30277px;
}
#chapter-6 #bridge-bg-1 {
  left: 30156px;
}
#chapter-6 #bridge-bg-2 {
  left: 30299px;
}
#chapter-6 #water-front-1 {
  left: 30228px;
}
#chapter-6 #water-back-1 {
  left: 30194px;
}
#chapter-6 #grass-4 {
  left: 30755px;
}
#chapter-6 #flag-2 {
  left: 30792px;
}
#chapter-6 #bush-4 {
  left: 30983px;
}
#chapter-6 #grass-5 {
  left: 31068px;
}
#chapter-6 #shop-3 {
  left: 31424px;
  bottom: 141px;
}
#chapter-6 #modal-banner-1 {
  background: transparent url(../img/milestone_6.png) no-repeat;
}
/*****************
 * END CHAPTER 6
 *****************/
/*****************
 * BEGIN CHAPTER 7
 *****************/
#chapter-7 {
  display: none;
  width: 4500px;
}
#chapter-7 #title-chapter-7 {
  left: 31840px;
}
#chapter-7 #cloud-1 {
  left: 32478px;
  top: 347px;
}
#chapter-7 #cloud-2 {
  left: 33171px;
  top: 290px;
}
#chapter-7 #cloud-3 {
  left: 34035px;
  top: 344px;
}
#chapter-7 #cloud-4 {
  left: 34452px;
  top: 221px;
}
#chapter-7 #cloud-5 {
  left: 36069px;
  top: 278px;
}
#chapter-7 #box-1 {
  left: 32012px;
  bottom: 303px;
}
#chapter-7 #box-2 {
  left: 32772px;
  bottom: 359px;
}
#chapter-7 #box-3 {
  left: 33580px;
  bottom: 407px;
}
#chapter-7 #box-4 {
  left: 34570px;
  bottom: 490px;
}
#chapter-7 #tree-1 {
  left: 31808px;
  bottom: 95px;
}
#chapter-7 #tree-2 {
  left: 32448px;
}
#chapter-7 #tree-3 {
  left: 33258px;
  bottom: 111px;
}
#chapter-7 #tree-4 {
  left: 34136px;
}
#chapter-7 #tree-5 {
  left: 34492px;
  bottom: 135px;
}
#chapter-7 #tree-6 {
  left: 36034px;
}
#chapter-7 #grass-1 {
  left: 31540px;
  display: none;
}
#chapter-7 #grass-2 {
  left: 32228px;
}
#chapter-7 #grass-3 {
  left: 33162px;
}
#chapter-7 #grass-4 {
  left: 34124px;
}
#chapter-7 #grass-5 {
  left: 35892px;
}
#chapter-7 #grass-6 {
  left: 35104px;
}
#chapter-7 #bush-1 {
  left: 32180px;
}
#chapter-7 #bush-2 {
  left: 33076px;
}
#chapter-7 #bush-3 {
  left: 33968px;
}
#chapter-7 #bush-4 {
  left: 35100px;
}
#chapter-7 #bush-5 {
  left: 35840px;
}
#chapter-7 #girl-1 {
  left: 32730px;
  bottom: 135px;
}
#chapter-7 #girl-2 {
  left: 32816px;
  bottom: 135px;
}
#chapter-7 #girl-3 {
  left: 33467px;
  bottom: 138px;
}
#chapter-7 #girl-4 {
  left: 33501px;
  bottom: 138px;
}
#chapter-7 #girl-5 {
  left: 33540px;
  bottom: 138px;
}
#chapter-7 #woman-1 {
  left: 32952px;
}
#chapter-7 #woman-2 {
  left: 33054px;
}
#chapter-7 #sign-1 {
  left: 33602px;
  bottom: 137px;
}
#chapter-7 #sign-1 img {
  width: 70%;
}
#chapter-7 #house-1 {
  left: 33686px;
  bottom: 121px;
}
#chapter-7 #house-2 {
  left: 34888px;
}
#chapter-7 #house-2-mask {
  left: 35010px;
}
#chapter-7 #books-1 {
  left: 33686px;
  bottom: 121px;
}
#chapter-7 #husband {
  left: 34716px;
}
#chapter-7 #daughter {
  left: 34816px;
}
#chapter-7 #modal-end {
  left: 35240px;
  bottom: 271px;
  position: absolute;
}
#chapter-7 #maya-end {
  left: 35566px;
  bottom: 120px;
}
